#AddReview{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: black;
    min-width: 150px;
    max-width: 150px;
    max-height: 40px;
    min-height: 40px;
    font-size: 12px;
    font-weight: bold;
}

#Cancel_Booking{

    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: black;
    min-width: 150px;
    max-width: 150px;
    max-height: 40px;
    /* min-height: 40px; */
    font-size: 12px;
    font-weight: bold;

}
#Cancel_Booking:hover{
    background-color: #ff0000e3;
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#AddReview:hover{
    background-color: white;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#table-headings{
    background-color: #afafaf;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
}

#table-div{
    margin-bottom: 5%;
}