.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.card-body h5 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-body p {
  align-self: flex-start;
}

.card-body span {
  font-weight: 700;
}

#btn {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn:hover {
  background-color: #000;
  color: #fff;
}
