.booking-details {
  margin-top: 20px;
  margin-bottom: 20px;
}

#c{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#container {
  /* margin: 0 auto; */
  width: 900px;
  border: 1px solid gray;
  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 76px;
}

#title-of-form {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

#personal-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

#Hall-bk-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  color: #000;
  font-weight: bold;
}

#name-group {
  width: 50%;
  display: block;
}

#name-label {
  font-weight: bolder;
  font-size: 16px;
  color: #000;
}

#email-group {
  width: 50%;
  display: block;
}
#email-label {
  font-weight: bolder;
  font-size: 16px;
  color: #000;
}

#room-qnty {
  display: flex;
  color: #000;
}

#checkin {
  color: #000;
  display: flex;
}

#checkout {
  display: flex;
  color: #000;
}

#room-type {
  display: flex;
  color: #000;
}

.bold{
  font-weight: bold;
  font-size: 16px;
  margin-right: 0.5rem;
}

#addons {
  font-weight: bolder;
  color: #000;
}

#check-box {
  color: #000;
}

#addon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

#special-req {
  color: #000;
  font-weight: bolder;
  font-size: 16px;
}

#message {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  border: 2px solid #ccc;
  padding: 12px 20px;
  font-size: 16px;
  color: #000;
  box-sizing: border-box;
  background-color: #f8f8f8;
  resize: none;
}

#coupon {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  margin-top: 20px;
  color: #000;
  font-weight: bolder;
}

#coupon-box {
  width: 50%;
}

#coupon-section {
  display: flex;
  justify-content: left;
}

#coupon-btn {
  background-color: #ffb923;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

#coupon-btn:hover {
  background-color: #000;
  color: #ffb923;
  transition: 0.5s;
}

#total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  gap: 10px;
  color: #000;
  font-weight: bolder;
  font-size: 20px;
}

#submit-booking-btn {
  /* flex: 1; */
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
  border: none;
  font-weight: bold;
  width: 100%;
  height: 2.5rem;
  font-size: large;
}

.priceCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  color: #000;
  font-weight: bolder;
  font-size: 20px;
}

.priceCont small {
  font-size: 15px;
  font-weight: 400;
}

.priceCont span {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.head {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

.indiPrice {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

.price-details {
  display: flex;
  /* background-color: rgb(238, 238, 238); */
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(225, 224, 224));

  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-weight: bold;
  border: 1px solid grey;
  width: 23rem;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#details{
  display: flex;
  justify-content: space-between;
  margin-right: 28%;
}

#booking-details-tables {
  border-collapse: collapse;
  width: 90%;
  color: #000;
  font-size: 16px;
  text-align: left;
  margin-top: 2rem;
}

#booking-details-tables th {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
}

#booking-details-tables td:first-child {
  font-weight: normal;
}

#booking-details-tables td:last-child {
  text-align: right;
  font-weight: normal;
}

.addon-price{
  font-size: 0.8rem; 
  margin-top: -0.5rem
}

.base-prices{
  font-size: 0.8rem;
  color: black;
  justify-content: left
}